In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('corona.csv')

C:\Users\batch1\AppData\Local\Temp\ipykernel_16936\3501729670.py:1: DtypeWarning: Columns (2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('corona.csv')

In [10]:
df.head()

,Ind_ID,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact
0,1,11-03-2020,TRUE,FALSE,TRUE,FALSE,FALSE,negative,None,None,Abroad
1,2,11-03-2020,FALSE,TRUE,FALSE,FALSE,FALSE,positive,None,None,Abroad
2,3,11-03-2020,FALSE,TRUE,FALSE,FALSE,FALSE,positive,None,None,Abroad
3,4,11-03-2020,TRUE,FALSE,FALSE,FALSE,FALSE,negative,None,None,Abroad
4,5,11-03-2020,TRUE,FALSE,FALSE,FALSE,FALSE,negative,None,None,Contact with confirmed

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Ind_ID               278848 non-null  int64
 1   Test_date            278848 non-null  object
 2   Cough_symptoms       278848 non-null  object
 3   Fever                278848 non-null  object
 4   Sore_throat          278848 non-null  object
 5   Shortness_of_breath  278848 non-null  object
 6   Headache             278848 non-null  object
 7   Corona               278848 non-null  object
 8   Age_60_above         278848 non-null  object
 9   Sex                  278848 non-null  object
 10  Known_contact        278848 non-null  object
dtypes: int64(1), object(10)
memory usage: 23.4+ MB

In [27]:
df['Cough_symptoms'].unique()
df['Cough_symptoms'] = df['Cough_symptoms'].replace({'TRUE':True,'FALSE':False,'None':np.nan})
df['Cough_symptoms'].isnull().sum()

252

In [28]:
df['Fever'].unique()
df['Fever'] = df['Fever'].replace({'TRUE':True,'FALSE':False,'None':np.nan})

In [29]:
df['Sore_throat'].unique()
df['Sore_throat'] = df['Sore_throat'].replace({'TRUE':True,'FALSE':False,'None':np.nan})

In [30]:
df['Shortness_of_breath'].unique()
df['Shortness_of_breath'] = df['Shortness_of_breath'].replace({'TRUE':True,'FALSE':False,'None':np.nan})

In [31]:
df['Headache'].unique()
df['Headache'] = df['Headache'].replace({'TRUE':True,'FALSE':False,'None':np.nan})

In [32]:
df['Corona'].unique()
df['Headache'] = df['Headache'].replace({'negative':0,'positive':1,'other':np.nan})

In [33]:
df['Age_60_above'].unique()
df['Age_60_above'] = df['Age_60_above'].replace({'Yes':True,'No':False,'None':np.nan})

In [34]:
df['Sex'].unique()
df['Sex'] = df['Sex'].replace({'None':np.nan})

In [35]:
df['Known_contact'].unique()
df['Known_contact'] = df['Known_contact'].replace({'Other':np.nan})

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Ind_ID               278848 non-null  int64
 1   Test_date            278848 non-null  object
 2   Cough_symptoms       278596 non-null  object
 3   Fever                278596 non-null  object
 4   Sore_throat          278847 non-null  object
 5   Shortness_of_breath  278847 non-null  object
 6   Headache             278847 non-null  object
 7   Corona               278848 non-null  object
 8   Age_60_above         151528 non-null  object
 9   Sex                  259285 non-null  object
 10  Known_contact        36107 non-null   object
dtypes: int64(1), object(10)
memory usage: 23.4+ MB

In [37]:
df.isnull().sum()

Ind_ID                      0
Test_date                   0
Cough_symptoms            252
Fever                     252
Sore_throat                 1
Shortness_of_breath         1
Headache                    1
Corona                      0
Age_60_above           127320
Sex                     19563
Known_contact          242741
dtype: int64

We drop the Contact and Age columns becuase the number of missing values is more than 10%

In [40]:
df = df.drop(['Known_contact','Age_60_above','Sex'],axis=1)

In [42]:
df.isnull().sum()

Ind_ID                   0
Test_date                0
Cough_symptoms         252
Fever                  252
Sore_throat              1
Shortness_of_breath      1
Headache                 1
Corona                   0
dtype: int64

In [48]:
df = df.drop(df[df['Cough_symptoms'].isnull()].index,axis=0)

In [49]:
df.isnull().sum()

Ind_ID                 0
Test_date              0
Cough_symptoms         0
Fever                  2
Sore_throat            0
Shortness_of_breath    0
Headache               0
Corona                 0
dtype: int64

In [50]:
df = df.drop(df[df['Fever'].isnull()].index,axis=0)

In [51]:
df.isnull().sum()

Ind_ID                 0
Test_date              0
Cough_symptoms         0
Fever                  0
Sore_throat            0
Shortness_of_breath    0
Headache               0
Corona                 0
dtype: int64

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278594 entries, 0 to 278847
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Ind_ID               278594 non-null  int64
 1   Test_date            278594 non-null  object
 2   Cough_symptoms       278594 non-null  object
 3   Fever                278594 non-null  object
 4   Sore_throat          278594 non-null  object
 5   Shortness_of_breath  278594 non-null  object
 6   Headache             278594 non-null  object
 7   Corona               278594 non-null  object
dtypes: int64(1), object(7)
memory usage: 19.1+ MB

In [53]:
df = df.drop('Ind_ID',axis=1)

In [55]:
df = df.drop('Test_date',axis=1)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278594 entries, 0 to 278847
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cough_symptoms       278594 non-null  object
 1   Fever                278594 non-null  object
 2   Sore_throat          278594 non-null  object
 3   Shortness_of_breath  278594 non-null  object
 4   Headache             278594 non-null  object
 5   Corona               278594 non-null  object
dtypes: object(6)
memory usage: 14.9+ MB

In [57]:
from sklearn.preprocessing import LabelEncoder

In [61]:
le = LabelEncoder()
df['Cough_symptoms'] = le.fit_transform(df['Cough_symptoms'])
df['Fever'] = le.fit_transform(df['Fever'])
df['Sore_throat'] = le.fit_transform(df['Sore_throat'])
df['Shortness_of_breath'] = le.fit_transform(df['Shortness_of_breath'])
df['Headache'] = le.fit_transform(df['Headache'])
df['Corona'] = le.fit_transform(df['Corona'])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278594 entries, 0 to 278847
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cough_symptoms       278594 non-null  int64
 1   Fever                278594 non-null  int64
 2   Sore_throat          278594 non-null  int64
 3   Shortness_of_breath  278594 non-null  int64
 4   Headache             278594 non-null  int32
 5   Corona               278594 non-null  int32
dtypes: int32(2), int64(4)
memory usage: 12.8 MB

In [ ]:
X = df.drop('Corona',axis=1)
y = df['Corona']